/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') repeat #e4e4e4;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	outline:none;
	color:#43819b;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*-------------------------
	Main Area
--------------------------*/


#main{
	background:url('../img/sheets.jpg') no-repeat;
	box-shadow:0 1px 1px #ccc, 0 0 2px #ccc;
	border-radius:2px 2px 5px 5px;
	width:350px;
	height:305px;
	padding-top:45px;
	text-align:center;
	margin:30px auto 10px;
}

h1{
	font:36px 'Open Sans Condensed', sans-serif;
	color:#4a4a4a;
	text-align:center;
	margin-top:75px;
}

a.googleLoginButton{
	
	border-radius:3px;
	margin-top:25px;
	display:inline-block;
	width:245px;
	height:50px;
	background:url('../img/google-login-button.png') no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}

a.googleLoginButton:hover{
	opacity:0.9;
}
a.facebookLoginButton{
	
	border-radius:3px;
	margin-top:25px;
	display:inline-block;
	width:245px;
	height:50px;
	background:url('../img/facebook-login-button.png') no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}

a.facebookLoginButton:hover{
	opacity:0.9;
}
a.twitterLoginButton{
	
	border-radius:3px;
	margin-top:25px;
	display:inline-block;
	width:245px;
	height:50px;
	background:url('../img/twitter-login-button.png') no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}

a.twitterLoginButton:hover{
	opacity:0.9;
}
p.greeting{
	font:20px 'Open Sans Condensed', sans-serif;
	color:#565656;
	padding-bottom:5px;
}

p.register_info{
	font-size:12px;
	opacity:0.6;
}

#avatar{
	background:url('../img/default_avatar.jpg') no-repeat center bottom;
	width:58px;
	height:58px;
	margin:0 auto 20px;
	display:block;
	border-radius:50%;
}

.logoutButton{
	background-color:#a3a3a3;
	box-shadow:0 -5px 2px #999 inset, 0 1px 1px #ccc;
	border:1px solid #999;
	color:#fff !important;
	font-weight:bold;
	display:block;
	margin:25px auto 0;
	width:60px;
	text-decoration:none;
	border-radius:3px;
	font-size:11px;
	padding:5px;
}

p.note{
	font-size:11px;
	text-align:center;
	color:#888;
	margin-bottom:80px;
}




/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
